## HDAT 9910 Capstone

#### Load packages

In [3]:
import pandas as pd
import numpy as np

#### read CVS's

In [4]:
admissions = pd.read_csv("/Users/zacharylukac/Desktop/HDAT-9910-Capstone/mimic_data/admissions.csv")

In [18]:
admissions.subject_id.value_counts()

13033    42
109      34
11861    34
5060     31
20643    24
         ..
44382     1
19810     1
17763     1
32100     1
2047      1
Name: subject_id, Length: 46520, dtype: int64

In [12]:
antibiotics = pd.read_csv("/Users/zacharylukac/Desktop/HDAT-9910-Capstone/mimic_data/antibiotics.csv")

In [15]:
antibiotics.shape[0]

164927

In [19]:
bloodculture = pd.read_csv("/Users/zacharylukac/Desktop/HDAT-9910-Capstone/mimic_data/bloodculture.csv")

In [20]:
bloodculture

,hadm_id,icustay_id,dy,hr,charttime,chartdate,org_name,positiveculture,ab_name,antibioticresistance
0,100449,217870.0,4.0,71.0,2137-08-19 08:08:00,2137-08-19 00:00:00,ENTEROCOCCUS SP.,1,AMPICILLIN,S
1,100449,217870.0,4.0,71.0,2137-08-19 08:08:00,2137-08-19 00:00:00,ENTEROCOCCUS SP.,1,TETRACYCLINE,R
2,100449,217870.0,4.0,71.0,2137-08-19 08:08:00,2137-08-19 00:00:00,GRAM POSITIVE BACTERIA,1,NaN,NaN
3,100449,217870.0,4.0,71.0,2137-08-19 08:08:00,2137-08-19 00:00:00,ENTEROCOCCUS SP.,1,NITROFURANTOIN,S
4,100449,217870.0,5.0,93.0,2137-08-20 06:21:00,2137-08-20 00:00:00,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
632501,100449,217870.0,3.0,39.0,2137-08-18 00:53:00,2137-08-18 00:00:00,NaN,0,NaN,NaN
632502,100449,217870.0,3.0,47.0,2137-08-18 08:00:00,2137-08-18 00:00:00,NaN,0,NaN,NaN
632503,100449,217870.0,3.0,47.0,2137-08-18 08:00:00,2137-08-18 00:00:00,NaN,0,NaN,NaN
632504,100449,217870.0,4.0,71.0,2137-08-19 08:08:00,2137-08-19 00:00:00,PROBABLE ENTEROCOCCUS,1,NaN,NaN
632505,100449,217870.0,4.0,71.0,2137-08-19 08:08:00,2137-08-19 00:00:00,ENTEROCOCCUS SP.,1,VANCOMYCIN,S

In [21]:
gcs_hourly = pd.read_csv("/Users/zacharylukac/Desktop/HDAT-9910-Capstone/mimic_data/gcs_hourly.csv")

In [22]:
gcs_hourly

         icustay_id  hr  gcs  gcseyes  gcsmotor  gcsverbal  endotrachflag
0            200001   0   15      4.0       6.0        5.0              0
1            200001   4   15      4.0       6.0        5.0              0
2            200001  11   15      4.0       6.0        5.0              0
3            200001  13   15      4.0       6.0        5.0              0
4            200001  16   14      3.0       6.0        5.0              0
...             ...  ..  ...      ...       ...        ...            ...
1515337      299999  13   10      3.0       6.0        1.0              1
1515338      299999  17   15      4.0       6.0        5.0              0
1515339      299999  21   15      4.0       6.0        5.0              0
1515340      299999  25   15      4.0       6.0        5.0              0
1515341      299999  29   15      4.0       6.0        5.0              0

[1515342 rows x 7 columns]