In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import os
import concurrent.futures
warnings.filterwarnings("ignore")

In [85]:
# Create a function to loads through all CSV files
def read_all_datasets(data_folder):
    
    datasets = {}

    csv_files = [
        'vitals_hourly.csv', 'admissions.csv', 'antibiotics.csv', 'bloodculture.csv',
        'gcs_hourly.csv', 'icd9_diag.csv', 'icustays.csv', 'labs_hourly.csv',
        'output_hourly.csv', 'patients.csv', 'pt_icu_outcome.csv', 'pt_stay_hr.csv',
        'pt_weight.csv', 'pv_mechvent.csv', 'transfers.csv', 'vasopressors.csv'
    ]

    for file in csv_files:
        file_path = os.path.join(data_folder, file)

        if os.path.exists(file_path):
            datasets[file.replace('.csv', '')] = pd.read_csv(file_path)
        else:
            print(f"File not found: {file}")

    return datasets

data_folder = '/Users/zacharylukac/Desktop/HDAT-9910-Capstone/mimic_data/'
all_datasets = read_all_datasets(data_folder)

# Assign all files to a dataframe for exploration
admissions_df = all_datasets['admissions']
vitals_hourly_df = all_datasets['vitals_hourly']
antibiotics_df = all_datasets['antibiotics']
bloodculture_df = all_datasets['bloodculture']
gcs_hourly_df = all_datasets['gcs_hourly']
icd9_diag_df = all_datasets['icd9_diag']
icustays_df = all_datasets['icustays']
labs_hourly_df = all_datasets['labs_hourly']
pt_stay_hr_df = all_datasets['pt_stay_hr']
pt_icu_outcome_df = all_datasets['pt_icu_outcome']
patients_df = all_datasets['patients']
output_hourly_df = all_datasets['output_hourly']
pt_weight_df = all_datasets['pt_weight']
pv_mechvent_df = all_datasets['pv_mechvent']
transfers_df = all_datasets['transfers']
vasopressors_df = all_datasets['vasopressors']

In [146]:
def convert_columns_to_32bit(dataframe, columns):
    for col in columns:
        if col in dataframe.columns:
            if dataframe[col].dtype == 'int64':
                dataframe[col] = dataframe[col].astype('int32')
            elif dataframe[col].dtype == 'float64':
                dataframe[col] = dataframe[col].astype('float32')
    return dataframe


vitals_hourly_columns = ['icustay_id', 'hr', 'spo2', 'temperature', 'resprate', 'heartrate', 'sysbp', 'diasbp', 'meanarterialpressure']
labs_hourly_columns = ['icustay_id', 'hr', 'neutrophil', 'whitebloodcell', 'partialpressureo2', 'bicarbonate', 'lactate', 'bloodureanitrogen', 'creatinine', 'hemoglobin', 'intnormalisedratio', 'platelets', 'chloride', 'glucose', 'sodium', 'hematocrit']
gcs_hourly_columns = ['icustay_id', 'hr', 'gcs', 'gcseyes', 'gcsmotor', 'gcsverbal', 'endotrachflag']
output_hourly_columns = ['icustay_id', 'hr','urineoutput']
pt_icu_outcome_columns = ['icustay_id', 'age_years','expire_flag']


vitals_hourly_df = convert_columns_to_32bit(vitals_hourly_df, vitals_hourly_columns)
labs_hourly_df = convert_columns_to_32bit(labs_hourly_df, labs_hourly_columns)
gcs_hourly_df = convert_columns_to_32bit(gcs_hourly_df, gcs_hourly_columns)
output_hourly_df = convert_columns_to_32bit(output_hourly_df, output_hourly_columns)
pt_icu_outcome_df = convert_columns_to_32bit(pt_icu_outcome_df, pt_icu_outcome_columns)


# Select only the relevant columns from each DataFrame
vitals_hourly_df = vitals_hourly_df_first_24[vitals_hourly_columns]
labs_hourly_df = labs_hourly_df_first_24[labs_hourly_columns]
gcs_hourly_df = gcs_hourly_df_first_24[gcs_hourly_columns]
output_hourly_df = output_hourly_df_first_24[output_hourly_columns]
pt_icu_outcome_df = pt_icu_outcome_df[pt_icu_outcome_columns]

In [147]:
total_icu_stays = pt_icu_outcome_df['icustay_id'].nunique()
survivors = pt_icu_outcome_df.loc[pt_icu_outcome_df['expire_flag'] == 0, 'icustay_id'].nunique()
non_survivors = pt_icu_outcome_df.loc[pt_icu_outcome_df['expire_flag'] == 1, 'icustay_id'].nunique()

print(f"Number of ICU stays: {total_icu_stays}")
print(f"Number of survivors: {survivors}")
print(f"Number of non-survivors: {non_survivors}")

mortality_rate = (non_survivors / total_icu_stays) * 100
print(f"Mortality: {mortality_rate:.1f}%")

Number of ICU stays: 61532
Number of survivors: 37341
Number of non-survivors: 24191
Mortality: 39.3%

In [148]:
# Subset the relevant time window (first 24 hours)
labs_hourly_df = labs_hourly_df[labs_hourly_df['hr'] <= 24]
gcs_hourly_df = gcs_hourly_df[gcs_hourly_df['hr'] <= 24]
output_hourly_df = output_hourly_df[output_hourly_df['hr'] <= 24]
vitals_hourly_df = vitals_hourly_df[vitals_hourly_df['hr'] <= 24]

In [149]:
# Merge DataFrames based on icustay_id and hr
merged_df = vitals_hourly_df.merge(labs_hourly_df, on=['icustay_id', 'hr'], how='outer')

In [150]:
merged_df = merged_df.merge(gcs_hourly_df, on=['icustay_id', 'hr'], how='outer')

In [151]:
merged_df = merged_df.merge(output_hourly_df, on=['icustay_id', 'hr'], how='outer')

In [152]:
merged_df = merged_df.merge(pt_icu_outcome_df, on='icustay_id', how='inner')  # Merge with pt_icu_outcome_df

In [153]:
merged_df= merged_df[merged_df['hr']>0]

In [154]:
# Group by icustay_id and hr
grouped_df = merged_df.groupby(['icustay_id', 'hr'])


# Calculate summary statistics for each hour across relevant columns
hourly_summary_stats = grouped_df.agg({\
    'spo2': 'mean',
    'temperature': 'mean',
    'resprate': 'mean',
    'heartrate': 'mean',
    'sysbp': 'mean',
    'diasbp': 'mean',
    'glucose': 'mean',
    'meanarterialpressure': 'mean',
    'neutrophil': 'mean',
    'whitebloodcell': 'mean',
    'partialpressureo2': 'mean',
    'bicarbonate': 'mean',
    'lactate': 'mean',
    'bloodureanitrogen': 'mean',
    'creatinine': 'mean',
    'hemoglobin': 'mean',
    'intnormalisedratio': 'mean',
    'platelets': 'mean',
    'chloride': 'mean',
    'sodium': 'mean',
    'hematocrit': 'mean',
    'gcs': 'mean',
    'gcseyes': 'mean',
    'gcsmotor': 'mean',
    'gcsverbal': 'mean',
    'endotrachflag': 'mean',
    'urineoutput': 'mean',
    'age_years': 'mean',
    'expire_flag': 'sum'
})

# Display summary statistics
hourly_summary_stats

                     spo2  temperature   resprate  heartrate   sysbp  \
icustay_id hr
200001     1    98.000000          NaN  18.000000      108.0  113.00
           2    98.000000          NaN  27.000000      110.0  116.00
           3    99.800003    37.666668  21.000000      102.0  102.00
           4    94.000000          NaN  19.000000      108.0  103.00
           5   100.000000          NaN  28.000000      104.0  106.00
...                   ...          ...        ...        ...     ...
299999     20   96.000000          NaN  17.666666       71.0   89.00
           21   99.400002    37.444447  21.000000       72.0   95.25
           22   93.000000          NaN  24.000000       73.0   93.00
           23   94.000000          NaN  26.000000       72.0   94.00
           24   96.000000          NaN  21.000000       69.0   94.00

                  diasbp  glucose  meanarterialpressure  neutrophil  \
icustay_id hr
200001     1   68.000000      NaN             79.000000         NaN
           2   68.000000      NaN             79.000000         NaN
           3   61.000000      NaN             71.000000         NaN
           4   58.000000      NaN             69.000000         NaN
           5   62.000000      NaN             73.000000         NaN
...                  ...      ...                   ...         ...
299999     20  48.333332      NaN             58.666668         NaN
           21  51.500000      NaN             65.166672         NaN
           22  48.000000    103.0             61.000000         NaN
           23  47.000000      NaN             62.666698         NaN
           24  51.000000      NaN             65.333298         NaN

               whitebloodcell  ...  sodium  hematocrit   gcs  gcseyes  \
icustay_id hr                  ...
200001     1              NaN  ...     NaN         NaN   NaN      NaN
           2              NaN  ...     NaN         NaN   NaN      NaN
           3              NaN  ...     NaN         NaN   NaN      NaN
           4              NaN  ...     NaN         NaN  15.0      4.0
           5              NaN  ...     NaN         NaN   NaN      NaN
...                       ...  ...     ...         ...   ...      ...
299999     20             NaN  ...     NaN         NaN   NaN      NaN
           21            15.9  ...     NaN        33.0  15.0      4.0
           22             NaN  ...     NaN         NaN   NaN      NaN
           23             NaN  ...     NaN         NaN   NaN      NaN
           24             NaN  ...     NaN         NaN   NaN      NaN

               gcsmotor  gcsverbal  endotrachflag  urineoutput  age_years  \
icustay_id hr
200001     1        NaN        NaN            NaN          NaN       61.0
           2        NaN        NaN            NaN        250.0       61.0
           3        NaN        NaN            NaN          NaN       61.0
           4        6.0        5.0            0.0          NaN       61.0
           5        NaN        NaN            NaN          NaN       61.0
...                 ...        ...            ...          ...        ...
299999     20       NaN        NaN            NaN         80.0       48.0
           21       6.0        5.0            0.0         40.0       48.0
           22       NaN        NaN            NaN         50.0       48.0
           23       NaN        NaN            NaN         40.0       48.0
           24       NaN        NaN            NaN         25.0       48.0

               expire_flag
icustay_id hr
200001     1             1
           2             1
           3             1
           4             1
           5             1
...                    ...
299999     20            0
           21            0
           22            0
           23            0
           24            0

[1356845 rows x 29 columns]

In [129]:
merged_df = merged_df.reset_index( drop = True)
merged_df

,index,icustay_id,hr,spo2,temperature,resprate,heartrate,sysbp,diasbp,glucose_x,...,sodium,hematocrit,gcs,gcseyes,gcsmotor,gcsverbal,endotrachflag,urineoutput,age_years,expire_flag
0,0,200001,1,98.000000,NaN,18.000000,108.0,113.00,68.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,1
1,1,200001,2,98.000000,NaN,27.000000,110.0,116.00,68.000000,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0,61.0,1
2,2,200001,3,99.800003,37.666668,21.000000,102.0,102.00,61.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,1
3,3,200001,4,94.000000,NaN,19.000000,108.0,103.00,58.000000,NaN,...,NaN,NaN,15.0,4.0,6.0,5.0,0.0,NaN,61.0,1
4,4,200001,5,100.000000,NaN,28.000000,104.0,106.00,62.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356864,1515716,299999,20,96.000000,NaN,17.666666,71.0,89.00,48.333332,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,48.0,0
1356865,1515717,299999,21,99.400002,37.444447,21.000000,72.0,95.25,51.500000,NaN,...,NaN,33.0,15.0,4.0,6.0,5.0,0.0,40.0,48.0,0
1356866,1515718,299999,22,93.000000,NaN,24.000000,73.0,93.00,48.000000,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,48.0,0
1356867,1515719,299999,23,94.000000,NaN,26.000000,72.0,94.00,47.000000,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,48.0,0
1356868,1515720,299999,24,96.000000,NaN,21.000000,69.0,94.00,51.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,48.0,0

In [155]:
hourly_summary_stats.isnull().mean() * 100

spo2                    14.036386
temperature             70.598852
resprate                18.686291
heartrate               10.346281
sysbp                   19.822972
diasbp                  19.840733
glucose                 89.799203
meanarterialpressure    19.735195
neutrophil              98.890293
whitebloodcell          93.659335
partialpressureo2       91.020124
bicarbonate             93.071943
lactate                 96.289407
bloodureanitrogen       93.236884
creatinine              93.209173
hemoglobin              92.356164
intnormalisedratio      95.042765
platelets               93.211236
chloride                92.323884
sodium                  93.015267
hematocrit              91.228917
gcs                     71.808792
gcseyes                 71.839967
gcsmotor                71.888462
gcsverbal               71.891999
endotrachflag           71.808792
urineoutput             44.306019
age_years                0.000000
expire_flag              0.000000
dtype: float64

In [81]:
hourly_summary_stats.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1515695 entries, (200001, -13) to (299999, 24)
Data columns (total 28 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   spo2                  1166393 non-null  float32
 1   temperature           398928 non-null   float32
 2   resprate              1103301 non-null  float32
 3   heartrate             1216462 non-null  float32
 4   sysbp                 1087878 non-null  float32
 5   diasbp                1087637 non-null  float32
 6   meanarterialpressure  1089069 non-null  float32
 7   neutrophil            49896 non-null    float32
 8   whitebloodcell        151312 non-null   float32
 9   partialpressureo2     176932 non-null   float32
 10  bicarbonate           153969 non-null   float32
 11  lactate               92819 non-null    float32
 12  bloodureanitrogen     151455 non-null   float32
 13  creatinine            152018 non-null   float32
 14  hemoglobin            196813 non-null   float32
 15  intnormalisedratio    117158 non-null   float32
 16  platelets             159743 non-null   float32
 17  chloride              179906 non-null   float32
 18  sodium                150710 non-null   float32
 19  hematocrit            189524 non-null   float32
 20  gcs                   412243 non-null   float64
 21  gcseyes               411661 non-null   float32
 22  gcsmotor              410712 non-null   float32
 23  gcsverbal             410792 non-null   float32
 24  endotrachflag         412243 non-null   float64
 25  urineoutput           772387 non-null   float32
 26  age_years             1515695 non-null  float32
 27  expire_flag           1515695 non-null  int32
dtypes: float32(25), float64(2), int32(1)
memory usage: 181.2 MB